@font-face {
  font-family: 'Scania Sans CY Headline';
  src: url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Bold.eot');
  src: local('Scania Sans CY Headline Bold'), local('ScaniaSansCYHeadline-Bold'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Bold.woff2') format('woff2'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Bold.woff') format('woff'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Scania Sans CY Headline';
  src: url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Regular.eot');
  src: local('Scania Sans CY Headline Regular'), local('ScaniaSansCYHeadline-Regular'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Regular.woff2') format('woff2'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Regular.woff') format('woff'),
    url('https://hldtru.io/fonts/ScaniaSansCYHeadline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Scania Sans CY';
  src: url('https://hldtru.io/fonts/ScaniaSansCY-Bold.eot');
  src: local('Scania Sans CY Bold'), local('ScaniaSansCY-Bold'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Bold.woff2') format('woff2'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Bold.woff') format('woff'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Scania Sans CY';
  src: url('https://hldtru.io/fonts/ScaniaSansCY-Regular.eot');
  src: local('Scania Sans CY Regular'), local('ScaniaSansCY-Regular'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Regular.woff2') format('woff2'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Regular.woff') format('woff'),
    url('https://hldtru.io/fonts/ScaniaSansCY-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
