.video {
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
  z-index: 1;
}

.h1 {
  font-size: 4rem;
  font-weight: 600;
}

.logo {
	font-family: 'Scania Sans CY Headline', sans-serif !important;
	font-weight: bold;
	font-style: normal;
	font-size: 1.8em !important;
	line-height: 1;
}

.link_left {
	font-family: 'Scania Sans CY Headline', sans-serif !important;
	font-weight: normal;
	font-style: normal;
	font-size: 1em !important;
	line-height: 1;
}

.link_right {
	font-family: 'Scania Sans CY Headline', sans-serif !important;
	font-weight: normal;
	font-style: normal;
	font-size: 1em !important;
	line-height: 1;
}

.time {
	color: white;
}
